<div class="page">
<div class="jumbotron">
	<div class="container">
		<h1><span>Match</span>That<span>Makeup</span></h1>
		<%= form_tag products_path, :method => 'get' do %>
		<div class="three_fourths shift_one">
			<%= text_field_tag :q %>
		</div>
		<%= submit_tag "Go", :name => nil, class: "btn btn-inverse btn-small" %>
		<% end %>
	</div>
</div>

<div class="container howitworks">
		<h2>How It Works</h2>
		<div class="one_third">
			<%= image_tag 'howitworks_1.png' %>
			<p>Tell us the products<br> you already use</p>
		</div>
		<div class="one_third">
			<%= image_tag 'howitworks_2.png' %>
			<p>We match them with<br> recognizable brands</p>
		</div>
		<div class="one_third">
			<%= image_tag 'howitworks_3.png' %>
			<p>Same results for less!<br> It's that easy!</p>
		</div>
</div>
<div class="container">
	<div class="popblog" >
		<div class="one_half">
			<h4>Popular Matches</h4>
			<%= image_tag 'http://placehold.it/350x350' %>
			<p>Click here to see the most<br> popular matches.</p>
		</div>
		<div class="one_half">
			<h4>MTM Blog</h4>
			<%= image_tag 'http://placehold.it/350x350' %>
			<p>Click here to see our<br> awesome blog.</p>
		</div>
	</div>
</div>
</div>