<%= form_for [@product, @match] do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field five_twelfths left">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field one_sixth left">
    <%= f.label :price %><br />
    <%= f.number_field :price, :min => 0, :step => 0.01  %>
  </div>
  <div class="field five_twelfths left last_column">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="clearfix"></div>
  <div class="field row">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="clearfix"></div><br>
  <div class="field one_half left">
    <%= f.label :brand_id %><br />
    <%= collection_select(:match, :brand_id, @brands, :id, :name, { :include_blank => true }) %>
  </div>
  <div class="field one_fourth left">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="clearfix"></div>
<br />
<legend><h2>Match Ratings</h2></legend>

  <div class="field one_sixth left">
    <%= f.label :color %><br />
    <%= f.number_field :color, :min => 0, :max => 5, :step => 0.5 %>
  </div>
  <div class="field one_sixth left">
    <%= f.label :texture %><br />
    <%= f.number_field :texture, :min => 0, :max => 5, :step => 0.5  %>
  </div>
  <div class="field one_sixth left">
    <%= f.label :luminosity %><br />
    <%= f.number_field :luminosity, :min => 0, :max => 5, :step => 0.5  %>
  </div>
  <div class="field shift_one one_fourth left">
    <%= f.label :overall %><br />
    <%= f.number_field :overall, :min => 0, :max => 100, :step => 0.01  %>
  </div>
  <div class="clearfix"></div><br>
  <div class="actions text-center">
    <%= f.submit 'Submit', class: "btn btn-inverse btn-large" %>
  </div>
<% end %>
