<h1>Listing matches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Link</th>
    <th>Description</th>
    <th>Brand</th>
    <th>Product</th>
    <th>Color</th>
    <th>Texture</th>
    <th>Luminosity</th>
    <th>Overall</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.name %></td>
    <td><%= match.price %></td>
    <td><%= match.link %></td>
    <td><%= match.description %></td>
    <td><%= match.brand %></td>
    <td><%= match.product %></td>
    <td><%= match.color %></td>
    <td><%= match.texture %></td>
    <td><%= match.luminosity %></td>
    <td><%= match.overall %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
