<li data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= number_to_currency(product.price) %>" data-link="<%= product.link %>" data-description="<%= product.description %>" data-photo="<%= product.photo.url(:square) %>" <% if !product.brand.nil? %>data-brand="<%= product.brand.name %>"<% end %> <% if !product.area.nil? %>data-area="<%= product.area.name %>"<% end %> <% if !product.category.nil? %>data-category="<%= product.category.name %>"<% end %>>
    <%= image_tag product.photo.url(:square) %>
    <p><span class="brand"><%= product.brand.name %></span></p>
    <p><%= truncate(product.name, :length => 35) %></p>
    <% product.matches.each do |match| %>
    	<span class="match" data-brand="<%= match.brand.name %>" data-name="<%= match.name %>" data-link="<%= match.link %>" data-color="<%= match.color %>" data-luminosity="<%= match.luminosity %>" data-texture="<%= match.texture %>" data-overall="<%= number_to_percentage(match.overall, :precision => 0) %>" data-photo="<%= match.photo.url(:thumb) %>" data-price="<%= number_to_currency(match.price, :precision => 0) %>"></span>
    <% end %>
</li>