<div class="search">


    <%= form_tag products_path, :method => 'get' do %>
        <div class="three_fourths shift_one">
            <%= text_field_tag :q, params[:q] %>
        </div>
        <%= submit_tag "Go", :name => nil, class: "btn btn-danger btn-large" %>
    <% end %>
</div>

<div class="master">
    <ul>
        <%= render :partial => 'product', :collection => @products %>
        <li data-name="New Product">
            <img src="http://placehold.it/250x250/ffffff/000000&text=Add" alt="Add" />
            <p><span class="brand"><%= link_to 'New Product', new_product_path %></span></p>
            <p>its quite good</p>
        </li>
    </ul>
    <h3>Similar</h3>
    <ul>
        <%= render :partial => 'product', :collection => @similar %>
    </ul>
</div>

<div class="detail">

</div>

<script id="product-template" type="text/x-handlebars-template">
    <img src="{{photo}}">
    <div class="description">
        <h3><span class="brand">{{brand}}</span> {{name}}</h3>
        <p>
            {{description}}<br /><br />
            <a href="{{link}}" class="btn btn-info">Buy: {{price}}</a>
            <a href="/products/{{id}}/edit" class="btn btn-warning">Edit</a>
        </p>
    </div>


    <h3>Matches</h3>
    <table>
        {{#each matches}}
        <tr>
            <td><img src="{{photo}}"></td>
            <td>{{color}}</td>
            <td>{{luminosity}}</td>
            <td>{{texture}}</td>
            <td>{{overall}}</td>
        </tr>
        {{else}}
            <h3>
                No matches found. <a href="/products/{{id}}/matches/new">Add one?</a>
            </h3>
        {{/each}}
    </table>
</script>


