<%= link_to image_tag('howitworks_3.png', :size => '100x100', :class => 'pull-left'), root_path %>

<div class="search">

    <%= form_tag products_path, :method => 'get' do %>
        <div class="two_thirds shift_one">
            <%= text_field_tag :q, params[:q] %>
        </div>
        <%= submit_tag "Go", :name => nil, class: "btn btn-danger btn-small" %>
        <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-info btn-large pull-right' %>
        <% end %>
    <% end %>
</div>

<div class="master">
    <ul>
        <%= render :partial => 'product', :collection => @products %>
        <% if user_signed_in? && current_user.is_admin %>
        <li data-name="New Product">
            <img src="http://placehold.it/250x250/ffffff/000000&text=Add" alt="Add" />
            <p><span class="brand"><%= link_to 'New Product', new_product_path %></span></p>
            <p>its quite good</p>
        </li>
        <% end %>
    </ul>
    <h3>Similar</h3>
    <ul>
        <%= render :partial => 'product', :collection => @similar %>
    </ul>
</div>

<div class="detail">

</div>

<script id="product-template" type="text/x-handlebars-template">
    <img src="{{photo}}">
    <div class="description">
        <h3><span class="brand">{{brand}}</span> {{name}}</h3>
        <p>
            {{description}}<br /><br />
            <a href="{{link}}" class="btn btn-danger">Buy: {{price}}</a>
            <% if user_signed_in? && current_user.is_admin %>
            <a href="/products/{{id}}/matches/new" class="btn btn-primary">Add Match</a>
            <a href="/products/{{id}}/edit" class="btn btn-warning">Edit</a>
            <% end %>
        </p>
    </div>


    <h3>Matches</h3>
    <table>
        {{#each matches}}
        <tr>
            <td><img src="{{photo}}"></td>
            <td>{{color}}</td>
            <td>{{luminosity}}</td>
            <td>{{texture}}</td>
            <td>{{overall}}</td>
            <td class="buy"><a href="{{link}}">Buy</a></td>
        </tr>
        {{else}}
            <h3>
                No matches found. <% if user_signed_in? && current_user.is_admin %><a href="/products/{{id}}/matches/new">Add one?</a><% end %>
            </h3>
        {{/each}}
    </table>
</script>


