<%= link_to image_tag('howitworks_3.png', :size => '100x100', :class => 'left'), root_path %>

<div class="search">

    <%= form_tag products_path, :method => 'get' do %>
        <div class="two_thirds shift_one">
            <%= text_field_tag :q, params[:q] %>
        </div>
        <%= submit_tag "Go", :name => nil, class: "btn btn-inverse btn-small" %>
        <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-info btn-small right' %>
        <% end %>
    <% end %>
</div>

<div class="master">
    <ul class="products">
        <%= render :partial => 'product', :collection => @products %>
        <% if user_signed_in? && current_user.is_admin %>
        <li data-name="New Product">
            <img src="http://placehold.it/250x250/ffffff/000000&text=Add" alt="Add" />
            <p><span class="brand"><%= link_to 'New Product', new_product_path %></span></p>
            <p>its quite good</p>
        </li>
        <% end %>
    </ul>
    <h3>Similar</h3>
    <ul>
        <%= render :partial => 'product', :collection => @similar %>
    </ul>
</div>

<div class="detail">

</div>

<script id="product-template" type="text/x-handlebars-template">
    <div class="product-image left">
        <img src="{{photo}}" class="left">
    </div>
    <div class="description left">
        <h3><span class="brand">{{brand}}</span></h3>
        <h4>{{name}}</h4>
        <p>
            {{description}}<br /><br />
            <div class="left one_half">
            <h5>{{price}}</h5>
            </div>
            <div class="left one_fourth">
            <a href="{{link}}" class="btn btn-danger">Buy</a>
            </div>
            <div class="clearfix"></div>
            <% if user_signed_in? && current_user.is_admin %>
            <a href="/products/{{id}}/matches/new" class="btn btn-primary">Add Match</a>
            <a href="/products/{{id}}/edit" class="btn btn-warning">Edit</a>
            <% end %>
        </p>
    </div>


    <h3 id="matched-products">Matched Products</h3>
    <ul class="matches">
        {{#each matches}}
        <li class="match left">
            <div><img src="{{photo}}"></div>
            <div class="name">
                <h3>{{brand}}</h3>
                <h4>{{name}}</h4>
            </div>
            <div>
                <h5>Color</h5>
                {{color}}</div>
            <div>
               <h5>Luminosity</h5>
                {{luminosity}}
            </div>
            <div>
                <h5>Texture</h5>
                {{texture}}
            </div>
            <div>
                <h5>Overall</h5>
                {{overall}}
            </div>
            <div>
                <h5>Price</h5>
                {{price}}
            </div>
            <div class="buy"><a href="{{link}}">Buy</a></div>
        </li>
        {{else}}
            <li>
                No matches found. <% if user_signed_in? && current_user.is_admin %><a href="/products/{{id}}/matches/new">Add one?</a><% end %>
            </li>
        {{/each}}
    </ul>
</script>


