<div class="search">


    <%= form_tag products_path, :method => 'get' do %>
        <div class="three_fourths shift_one">
            <%= text_field_tag :q, params[:q] %>
        </div>
        <%= submit_tag "Go", :name => nil, class: "btn btn-danger btn-large" %>
    <% end %>
</div>

<div class="master">
    <ul>
        <%= render :partial => 'product', :collection => @products %>
        <li data-name="New Product">
            <img src="http://placehold.it/250x250/ffffff/000000&text=Add" alt="Add" />
            <p><span class="brand"><%= link_to 'New Product', new_product_path %></span></p>
            <p>its quite good</p>
        </li>
    </ul>
    <h3>Similar</h3>
    <ul>
        <%= render :partial => 'product', :collection => @similar %>
    </ul>
</div>

<div class="detail">
    <% if !@products.empty? %>
    <% product = @products[0] %>


    <%= image_tag "lipstick.jpg" %>
    <div class="description">
        <h3><span class="brand"><%= product.brand.name %></span> <%= product.name %></h3>
        <p>
            <%= product.description %><br /><br />
            <a href="<%= product.link %>" class="btn btn-info">Buy: <%= number_to_currency(product.price) %></a>
        </p>
    </div>


    <h3>Matches</h3>
    <table>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>4.0</td>
            <td>4.0</td>
            <td>87%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.0</td>
            <td>4.5</td>
            <td>3.0</td>
            <td>78%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>2.0</td>
            <td>4.0</td>
            <td>64%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>2.5</td>
            <td>2.5</td>
            <td>3.5</td>
            <td>55%</td>
        </tr>
    </table>
    <% else %>
    <h3>Whoops, we couldn't find anything like "<%= params[:q] %>"</h3>
    <% end %>
</div>

<script id="product-template" type="text/x-handlebars-template">
    <%= image_tag "lipstick.jpg" %>
    <div class="description">
        <h3><span class="brand">{{brand}}</span> {{name}}</h3>
        <p>
            {{description}}<br /><br />
            <a href="{{link}}" class="btn btn-info">Buy: {{price}}</a>
        </p>
    </div>


    <h3>Matches</h3>
    <table>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>4.0</td>
            <td>4.0</td>
            <td>87%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.0</td>
            <td>4.5</td>
            <td>3.0</td>
            <td>78%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>2.0</td>
            <td>4.0</td>
            <td>64%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>2.5</td>
            <td>2.5</td>
            <td>3.5</td>
            <td>55%</td>
        </tr>
    </table>
</script>


