<div class="search">


    <%= form_tag products_path, :method => 'get' do %>
        <div class="three_fourths shift_one">
            <%= text_field_tag :q, params[:q] %>
        </div>
        <%= submit_tag "Go", :name => nil, class: "btn btn-danger btn-large" %>
    <% end %>
</div>

<div class="master">
    <ul>
        <% @products.each do |product| %>
        <li data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>" data-link="<%= product.link %>" data-description="<%= product.description %>" <% if !product.brand.nil? %>data-brand="<%= product.brand.name %>"<% end %> <% if !product.area.nil? %>data-area="<%= product.area.name %>"<% end %> <% if !product.category.nil? %>data-category="<%= product.category.name %>"<% end %>>
            <%= image_tag "lipstick.jpg" %>
            <p><span class="brand"><%= product.brand.name %></span></p>
            <p><%= truncate(product.name, :length => 35) %></p>
        </li>
        <% end %>
        <li>
            <img src="http://placehold.it/250x250/ffffff/000000&text=Add" alt="Add" />
            <p><span class="brand"><%= link_to 'New Product', new_product_path %></span></p>
            <p>its quite good</p>
        </li>
    </ul>
    <h3>Similar</h3>
    <ul>
        <% @similar.each do |product| %>
        <li data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>" data-link="<%= product.link %>" data-description="<%= product.description %>" <% if !product.brand.nil? %>data-brand="<%= product.brand.name %>"<% end %> <% if !product.area.nil? %>data-area="<%= product.area.name %>"<% end %> <% if !product.category.nil? %>data-category="<%= product.category.name %>"<% end %>>
            <%= image_tag "lipstick.jpg" %>
            <p><span class="brand"><%= product.brand.name %></span></p>
            <p><%= truncate(product.name, :length => 35) %></p>
        </li>
        <% end %>
    </ul>
</div>

<div class="detail">
    <% product = @products[0] %>
    <h3><span class="brand"><%= product.brand.name %></span> <%= product.name %></h3>

    <%= image_tag "lipstick.jpg" %>
    <p class="description">
        <%= product.description %><br /><br />
        <a href="<%= product.link %>" class="btn btn-info">Buy: <%= number_to_currency(product.price) %></a>
    </p>


    <h3>Matches</h3>
    <table>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>4.0</td>
            <td>4.0</td>
            <td>87%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.0</td>
            <td>4.5</td>
            <td>3.0</td>
            <td>78%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>3.5</td>
            <td>2.0</td>
            <td>4.0</td>
            <td>64%</td>
        </tr>
        <tr>
            <td><%= image_tag "lipstick.jpg" %></td>
            <td>2.5</td>
            <td>2.5</td>
            <td>3.5</td>
            <td>55%</td>
        </tr>
    </table>
</div>



