<div class="navigation">
	<%= link_to image_tag('howitworks_3.png', :size => '100x100', :class => 'left'), root_path %>
	<div class="nav-inner">
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-small btn-inverse right' %>
			<% if current_user.is_admin? %>
				<%= link_to "Products", products_path, :class => 'btn btn-small btn-inverse right' %>
			<% end %>
		<% end %>
	</div>
	<% flash.each do |type, message| %>
    <div class="alert <%= flash_class type %>">
      <h1><%= message %></h1>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>