<!DOCTYPE html>
<html>
<head>
  <title>Match that Makeup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="//use.typekit.net/rph7kjs.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
	<%= render 'layouts/nav' %>
  <% end %>
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class type %>">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
    <div class="clearfix"></div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
	<script>
      $(function() {
        window.addEventListener("load",function() {
          setTimeout(function(){
            window.scrollTo(0, 1);
          }, 0);
        });
      });
    </script>
</body>
</html>
