<!DOCTYPE html>
<html>
<head>
  <title>Match that Makeup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/nav' %>
	<div class="mega-container">
		<%= yield %>
	</div>
</body>
</html>
