<!DOCTYPE html>
<html>
<head>
  <title>Match that Makeup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="//use.typekit.net/rph7kjs.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/nav' %>
	<%= yield %>
	<script>
      $(function() {
        window.addEventListener("load",function() {
          setTimeout(function(){
            window.scrollTo(0, 1);
          }, 0);
        });
      });
    </script>
</body>
</html>
